{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EducaPlus</title>
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-personalizado">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <form class="d-flex" action="/search" method="get">
            <input class="form-control me-2 custom-search-bar" type="search" name="q" placeholder="Buscar..."
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#teachModal">Enseña en
                        EducaPlus</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success custom-button" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Iniciar sesión
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success custom-button button-register"
                            data-bs-toggle="modal" data-bs-target="#registerModal">Registrate
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="registerModalLabel">Estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/register/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="registerName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="registerName" name="name" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="registerSurname" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="registerSurname" name="surname" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="registerEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="registerPassword" name="password"
                               autocomplete="new-password" required>
                    </div>
                    <div class="mb-3">
                        <label for="registerPasswordConfirm" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="registerPasswordConfirm" name="password_confirm"
                               autocomplete="new-password" required>
                    </div>
                    <div class="mb-3">
                        <label for="registerBirthdate" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="registerBirthdate" name="birthdate" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="teachModal" tabindex="-1" aria-labelledby="teachModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teachModalLabel">Enseña en EducaPlus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/teach" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="surname" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="teachEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="teachEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="mb-3">
                        <label for="specialization" class="form-label">Área de Especialización</label>
                        <select class="form-control" id="specialization" name="specialization">
                            <option value="option1">Tecnologia</option>
                            <option value="option2">Economia</option>
                            <option value="option3">Humanidades</option>
                            <option value="option4">Medicina</option>
                            <option value="option5">Ciencias juridicas</option>
                            <option value="option6">Arquitectura</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Registrase</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="loginEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassword" name="password"
                               autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>