{% extends 'basest/baseLoginEstudiante.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cardsCurso.css' %}">
    <div class="cursos">
        <h1>Mis cursos</h1>
        <div class="cursos-container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">"Introducción avanzada a la programación en Python 2023"</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Principiante</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 2</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Intermedio</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 3</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Avanzado</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 4</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Experto</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 5</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Principiante</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 6</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Intermedio</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 7</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Avanzado</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Curso 8</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Instructor: Nombre del instructor</h6>
                                <p class="card-text">Nivel: Experto</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}