.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%; /* reduce the width */
    height: 240px; /* reduce the height */
    margin: 10%; /* add some margin */
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: 2px 16px;
}

.card-title {
    color: #000;
    max-width: 50ch; /* set the maximum width to 50 characters */
}

.card-subtitle {
    color: #666;
    font-size: 18px;
}

.card-text {
    color: #333;
    font-size: 16px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.cursos-container {
    padding-left: 10%; /* add padding to the left */
    padding-right: 10%; /* add padding to the right */
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}