.accordion-button-custom::after {
    /* Oculta la flecha predeterminada */
    display: none;
}

.accordion-button-custom::before {
    /* Agrega nuestra propia flecha al principio del botón */
    content: '\25B6';
    float: left;
    transition: transform 0.6s ease;
}

.accordion-button-custom:not(.collapsed)::before {
    /* Cambia la dirección de la flecha cuando el acordeón está abierto */
    transform: rotate(90deg);
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tit {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.buy-button {
    background-color: var(--blue-chill-500);
    color: var(--blue-chill-50);
}