.contenedor {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.detalles_curso {
    flex: 1;
    margin-right: 20px;
    word-break: break-all;
}

.resumen_pago {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.btn-primary {
    margin: 0 10px;
}

.small-form {
    max-width: 500px; /* Ajusta este valor a tus necesidades */
    margin: auto; /* Centra el formulario en la página */
}

#tit {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.resumen-item span {
    display: inline-block;
    margin-left: 40px;
}

.price {
    margin-left: 40px; /* Ajusta este valor a tus necesidades */
}

h1 {
    text-align: center;
}

input.validate.invalid {
    background-color: #FFCCCC; /* Color rojo claro */
}

input.validate:invalid {
    background-color: #FF0000; /* Color rojo */
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Para Chrome, Safari, Edge */
    margin: 0;
}

.detalles_curso p {
    font-size: 1.5em; /* Aumenta este valor según tus necesidades */
    line-height: 1.6;
    color: #333;
    padding: 0 10px;
}

.button-container .btn {
    background-color: var(--blue-chill-500); /* Cambia a tu color preferido */
    color: var(--blue-chill-50); /* Cambia a tu color preferido */
    border: 2px solid var(--blue-chill-900); /* Añade un borde oscuro */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-container .btn:hover {
    background-color: var(--blue-chill-700); /* Cambia a tu color preferido */
    color: var(--blue-chill-100); /* Cambia a tu color preferido */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.required::after {
    content: " *";
    color: red;
}